html, body
{
	font-family: Raleway;
    background-color: #B0E0E0;
}

.table
{
  width: 95%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.table-bordered th
{
	text-align: center;
}
.table-bordered th,
.table-bordered td
{
	background-color: #FFF;
}

footer
{
	font-size: 1rem;
	color: #4c4c4c;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

/* iPad */
@media screen and (max-width: 768px){
	html, body
	{
	}
}

/* iphone 6 plus*/
@media screen and (max-width: 480px){
	html, body
	{
	}
}

/* iphone 6 */
@media screen and (max-width: 375px){
	html, body
	{
	}
}